<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.example.gps_test">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application

        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31" >
        <activity
            android:name=".PlanificarRuta"
            android:exported="true"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".BuscarEventosMapaActivity"
            android:exported="true"
            android:label="@string/app_name"
            >

        </activity>
        <activity
            android:name=".VerEventosMapaActivity"
            android:exported="true"
            android:label="@string/app_name"
            >

        </activity>
        <activity
            android:name=".SingleEventoPublicoActivity"
            android:exported="true"
            android:label="@string/app_name" >

        </activity>
    </application>

</manifest>