<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sesionconfirebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->


    <application android:largeHeap="true"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SesionConFirebase"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".SingleReporteActivity"
            android:exported="false" />
        <activity
            android:name=".RespuestaComentarioActivity"
            android:exported="false" />
        <activity
            android:name=".DetallesActivity"
            android:exported="false" />
        <activity
            android:name=".SingleEventoCompletadoActivity"
            android:exported="false"></activity>
        <activity
            android:name=".ListaReportes"
            android:exported="false" />
        <activity
            android:name=".ListaEventoCompletados"
            android:exported="false"></activity>
        <activity
            android:name=".ListaEstadisticas"
            android:exported="false"></activity>
        <activity
            android:name=".CalificarActivity"
            android:exported="false"></activity>

        <receiver
            android:name=".NotificationActionReceiver"
            android:enabled="true" /> <!-- <receiver android:name=".NotificationActionReceiver1" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.example.sesionconfirebase.ACTION_BUTTON_1" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver android:name=".NotificationActionReceiver2" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.example.sesionconfirebase.ACTION_BUTTON_2" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service
            android:name=".Fcm"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".ListaEventoPostulados"
            android:exported="false" />
        <activity
            android:name=".SingleEventoPostuladosActivity"
            android:exported="false" />
        <activity
            android:name=".SingleEventoActivity"
            android:exported="false" />
        <activity
            android:name=".SingleEventoPublicoActivity"
            android:exported="false"
            android:label="Detalles del Evento Público" />
        <activity
            android:name=".CrearEvento"
            android:exported="false" />
        <activity
            android:name=".ListaEventos"
            android:exported="false" />
        <activity
            android:name=".Planificar"
            android:exported="false" />
        <activity
            android:name=".ListaEventosPublicosVigentes"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Rutas"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>